{%load static %}
<!DOCTYPE html>
<html lang="pt-br">
    {% include 'header.html' %}
    <body id="page-top">
    <!-- Navigation-->
    <header class="masthead" id="header">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Resultados</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">E-Championship.</h2>
            </div>
        </div>
    </header>
    <div class="meio">
        <div class="row">
            {% for resultado in resultados %}
            <div class="col-md-4 mb-3 mb-md-3" id="meio">
                <div class="card py-4 h-30">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">{{ resultado.partida }}</h4>
                        <hr class="my-4"/>
                        <h6 class="text-uppercase m-0">Data: {{resultado.data}}</h6>
                        <h6 class="text-uppercase m-3">Horario: {{partida.horario}}</h6>
                        <p>Times: {% for time in resultado.time.all|join:' X ' %}{{ time }}{% endfor %}</p>
                        <h6 class="text-uppercase m-3">Campeonato: {{resultado.campeonato}}</h6>
                        <h6 class="text-uppercase m-3">Jogo: {{resultado.jogo}}</h6>
                        <h6 class="text-uppercase m-3">Vencedor: {{resultado.vencedor}}</h6>
                        <p>Placar: {{resultado.placar}}</p>
                        <h6 class="text-uppercase m-3">MVP: {{resultado.mvp}}</h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class = 'inicio'>
        <center><a class="btn btn-primary js-scroll-trigger" href="/">Voltar á página inicial</a></center>
    </div>
    <!-- Footer-->
    {% include 'footer.html' %}
    </body>